body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    }
    
    .container{
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    text-align:center;
    width:450px;
    }
    
    input{
    width:80%;
    padding:10px;
    margin:15px 0;
    border:1px solid #ccc;
    border-radius:5px;
    }
    
    .buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
    }
    
    button{
    background:#5865f2;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
    }
    
    button:hover{
    background:#3d4bd1;
    }
    
    p{
    font-size:16px;
    }